<!DOCTYPE html>
<html>
<head>
  <title>Doctor Sleep</title>
  <link rel="stylesheet" href="/style.css" />
</head>
<body>
  <header>
    <h1>🛌 Doctor Sleep</h1>
    <nav>
      <a href="/">Home</a> |
      <a href="/create">Create Message</a> |
      <a href="/messages">My Messages</a>
    </nav>
  </header>
  <main>
    <%- body %>
  </main>
</body>
</html>
